.about{
    /* width: 100px; */
    height: 80vh;
    margin-top: 5rem;
    margin: auto;

    /* background-color: antiquewhite; */
    display: flex;
    gap:5rem;
    /* margin-top: 3rem; */
    /* border: 1px solid red; */
    text-align: center;
    color: antiquewhite;
}

.about div{
    margin: auto;
    
}

.about>div>h1{
    font-size: 50px;
    color: aqua;

}

.text{
    margin-top: 5%;
    line-height: 30px;
    font-size: 20px;
    
    color: bisque;
}

.email{
    color: aqua;
}
