
.contact{
    /* width: 100%; */
    /* height: 60vh; */
    text-align: center;
    /* border: 1px solid white; */
    color: whitesmoke;
    box-sizing: border-box;
    
    

}


.contact>h1{
    font-size: 50px;
    color: aqua;
    text-decoration: underline;

}   



.contact_list{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    box-sizing: border-box;
}

.contact_list>div{
    /* font-size: 200%; */
    cursor: pointer;
    
    
    
}

.logo{
    /* border: 1px solid blueviolet; */
    color: antiquewhite;
    font-size: 3.5rem;
    
}

.logo:hover{
    text-decoration: underline;
    color: rgb(98, 0, 255);
}

.copy{
    color: whitesmoke;
    margin-top: 10%;
    box-sizing: border-box;
}


@media (max-width:920px) {

    .contact{
        width: 100%;
    }

    .contact>h1{
        font-size: 40px;
    
    } 

    .logo{
        color: antiquewhite;
        font-size: 2.5rem;
        
    }

    
    .contact_list{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        /* margin-top: 10%; */
        
        gap: 1rem;
        box-sizing: border-box;
    }

    .contact_list>div{
        /* width: 100%; */
        margin: auto;
        /* font-size: 200%; */
       
         cursor: pointer;

    }
}



@media (max-width: 600px) {

    .contact_list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* margin-top: 10%; */
        
        gap: 1rem;
        box-sizing: border-box;
        /* border: 1px solid red; */
    }

    .contact>h1{
        font-size: 30px;
        color: aqua;
    
    } 


    .contact_list>div{
        /* width: 100%; */
        margin: auto;
        /* border: 1px solid white; */
        /* font-size: 200%; */
         cursor: pointer;
         /* height: 10vh */

    }

    .logo{
        font-size: 2rem;
        
    }

}

