@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@900&display=swap');


.projects{
    /* width: 90%; */
    /* height: 100vh; */
    /* border: 1px solid green; */
    /* background-color: antiquewhite; */
    margin-top: 5rem;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 5rem;
}

.project_list{
    display: grid;
    /* padding: 1rem; */
    grid-template-columns: repeat(1,1fr);
    gap: 10rem;
    margin: auto;
    /* border: 1px solid red; */
    /* height: 80vh; */

}

.projects>h1{
    color: aqua;
    font-size: 50px;
    margin-bottom: 10vh;
    
      /* font-family:  sans-serif; */
}

.project_list>div{
    border: 4px solid aqua;
     background-color: white;
    padding: 2%;
    width: 40%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 5%;
    cursor: pointer;
}

.heroimg{
    width:100%;
    margin: auto;
}


.project_info{
    text-align: start;
    /* border: 1px solid red; */
    /* width: 70%; */
    margin: auto;
    /* padding: 2rem;
    box-sizing: border-box; */
   font-size: 20px;
}

.project_info>h2{
    font-weight: 700;
    text-align: center;
}

.project_info>p{
    font-weight: 500;
}


.text{
    margin-top: 5%;
    line-height: 30px;
    text-decoration: underline;
    color: bisque;
    font-family: 'Poppins', sans-serif;
    
}

.project_list>div>div>a>button{
    font-size: 100%;
    background-color: aqua;
    padding: 3%;
    border-radius: 5%;
    margin: 3%;
    border: none;
    cursor: pointer;
}

/* .project_list>div>div>a{ */
    /* background-color: whitesmoke; */
/* } */

.techstack{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    /* align-items: center; */
    color: #22283e;
    border: 3px solid aqua;
    width: 100%;
     /* font-family:  sans-serif; */
     padding: 1rem;
     /* margin: auto; */
     
}

.techstack>div{
    display: flex;
    gap:1rem;
    font-size: 30px;
    margin-left: 2rem;
    box-sizing: border-box;
}

.logo_font{
 font-size: 50px;
 /* text-align: center; */
 margin: auto;
}


.techstack>h1{
    font-size: larger;
    color: #22283e;
    font-weight: 700;
}


@media (max-width: 920px) {

    .projects{
        /* border: 1px solid orchid; */
        width: 90%;
    }
    .project_list{
        display: grid;
        /* border: 1px solid yellow; */
        grid-template-columns: repeat(1,1fr);
    }

   .project_list>div{
    width: 80%;
    /* border: 1px solid red; */
    border-radius: 1%;
    padding: 3rem;
   }

   .techstack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

   .text{
    margin-top: 5%;
    line-height: 40px;
    line-gap-override: inherit;
    color: bisque;
   }

}

@media  (max-width: 600px) {
  
    .projects{
        width: 100%;
        margin: auto;
        /* border: 1px solid red; */
        box-sizing: border-box;
    }
    
    .project_list>div{
        width: 90%;
        margin: auto;
        /* border: 1px solid red; */
        border-radius: 1%;
        padding: 3rem;
        
       }
   
    .techstack{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
       }

       .techstack>div{
        
        display: flex;
        gap:1rem;
        font-size: 25px;
        margin-left: 2rem;
        box-sizing: border-box;
    }
}


