.skills{
    width: 90%;
    /* height: 80vh; */
    margin: auto;
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
    padding:1rem;
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin-bottom: 5rem;
}

.logo{
    border: 3px solid aqua;
    display: flex;
    justify-content: center;
    border-radius: 3%;
    box-shadow: inset;
}

.skills>h1{
    /* margin-top: 30vh; */
    margin-bottom: 10vh;
    color: aqua;
    font-size: 50px;
}


.text{
    margin-top: 5%;
    line-height: 30px;
    color: bisque;
    
}

.skills_lists{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    /* border: 1px solid red; */
    gap: 1rem;
    
    
}
.skills_lists>div{
    /* height: 100px; */
    /* border: 1px solid seashell; */
    width: 50%;
    padding: 1rem;

}

@media (max-width: 920px) {

    .skills{
        /* border: 1px solid red; */
        width: 70%;
    }
    .skills_lists{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
    }



}


@media (min-width: 921px) {
    .skills{
        margin-top: 15rem;
        height: 100vh;
    
    }
  }