
*{

  /* background-color: #22283e; */
  margin: 0;
  padding: 0;
  
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  /* height: 500vh */
  /* width: 100%; */
  /* box-sizing: border-box; */

}
